# Function ในการเขียนโปรแกรมคอมพิวเตอร์ เปรียบเสมือนคำสั่งพิเศษช่วยให้สามารถทำงานเฉพาะเจาะจงอย่างหนึ่งได้ อาทิเช่น math , print , input เป็นต้น
#### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
#### print เกรดวิชา Stat1 >>> AAA

In [1]:
a = 'ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9'
print(a)

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9

In [2]:
name = 'มุทิตา'
surname = 'บุตะเขียว'
ID = '603021882-9'
b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9

## function template
``` python
def function_name(x):
        do_something
         return y
```

## normal function

In [3]:
def  print_line1(name1, surname1,ID1):
        st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
        return st

In [4]:
print(print_line1('มุทิตา','บุตะเขียว','603021882-9'))

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9

## function without output

In [5]:
def  print_2lines(name1, surname1,ID1,grade):
        st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
        print(st)
        st2 = f'เกรดวิชา Stat1 >>> {grade}'
        print(st2)

In [6]:
print_2lines('มุทิตา','บุตะเขียว','603021882-9','A')

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9
เกรดวิชา Stat1 >>> A

In [7]:
def  print_3lines(name1, surname1,ID1,grade):
        st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
        print(st)
        st2 = f'เกรดวิชา Stat1 >>> {grade}'
        print(st2)
print_3lines('มุทิตา','บุตะเขียว','603021882-9','A')
print_3lines('จันทราภรณ์','สมสวย','603021857-8','A')
print_3lines('พันทิพา','มุขกัง','603021876-4','A')

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9
เกรดวิชา Stat1 >>> A
ชื่อ จันทราภรณ์ นามสกุล สมสวย รหัส 603021857-8
เกรดวิชา Stat1 >>> A
ชื่อ พันทิพา นามสกุล มุขกัง รหัส 603021876-4
เกรดวิชา Stat1 >>> A

## Example of an Error

### ย่อหน้าไม่ตรงกัน

In [9]:
def  print_2lines(name1, surname1,ID1,grade):
        st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
        print(st)
        st2 = f'เกรดวิชา Stat1 >>> {grade}'
         print(st2)                                                   #ความหมายของ error นี้คือการเว้นวรรคผิดตำแหน่งหรือย่อตำแหน่งที่ไม่เท่ากัน

IndentationError: unexpected indent (<ipython-input-9-5a60eac2ff68>, line 5)

### คำสั่งต่างๆหลัง return จะไม่ถูกทำงาน

In [10]:
def  print_2lines(name1, surname1,ID1,grade):
        st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
        return(st)
        st2 = f'เกรดวิชา Stat1 >>> {grade}'
        print(st2)
print_2lines('มุทิตา','บุตะเขียว','603021882-9','A')

'ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9'

## function without input

In [11]:
def two_x_three():
        x = 2*3
        return x

In [12]:
two_x_three()

6

## function with default argument

In [13]:
def  print_2lines_default(name1, surname1,ID1,grade='F'):
        st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
        print(st)
        st2 = f'เกรดวิชา Stat1 >>> {grade}'
        print(st2)

In [14]:
print_2lines_default('มุทิตา','บุตะเขียว','603021882-9')

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9
เกรดวิชา Stat1 >>> F

In [15]:
print_2lines_default('มุทิตา','บุตะเขียว','603021882-9','A+')

ชื่อ มุทิตา นามสกุล บุตะเขียว รหัส 603021882-9
เกรดวิชา Stat1 >>> A+

In [16]:
print_2lines_default(surname1 = 'มุทิตา', name1 = 'บุตะเขียว', ID1 = '603021882-9')

ชื่อ บุตะเขียว นามสกุล มุทิตา รหัส 603021882-9
เกรดวิชา Stat1 >>> F

# Loop

```Python
for each_member in listA:
    do something
```

### วนลูปสมาชิกแต่ละตัวที่อยู่ในลิสนี้

In [17]:
for i in [1,2,3]:
    print(i)

1
2
3

### print แต่ละตัว

In [18]:
for i in 'Mutita':
    print(f'{i} -> /')

M -> /
u -> /
t -> /
i -> /
t -> /
a -> /

### print แต่ละตัวให้เว้นช่องว่าง

In [21]:
for i in 'Mutita':
    print(f'{i} -> /')
    print(' ')

M -> /

u -> /

t -> /

i -> /

t -> /

a -> /

## function in loop

#### 1.สร้าง list ชื่อเพื่อนที่อยู๋ในแถวยาวเดียวกัน
#### 2.วนลูป print ประโยคว่า XXX(เรา) YYY(ความรู้สึก) ZZZ(เพื่อน) ทุกคนในแถวยาว 1 แถว

In [24]:
def print_feeling(I,feeling,honey):
        print(f'{I} {feeling} {honey}')

In [25]:
honey = ['Ha Yoonbin', 'Park Chaeyoung', 'Do Kyungsoo', 'Lee Sungyeol', 'Kim Taehyung', 'Kim Sunggyu', 'Khaiping']

In [26]:
for f in honey:
    print_feeling('Bam','fall in love with',f)

Bam fall in love with Ha Yoonbin
Bam fall in love with Park Chaeyoung
Bam fall in love with Do Kyungsoo
Bam fall in love with Lee Sungyeol
Bam fall in love with Kim Taehyung
Bam fall in love with Kim Sunggyu
Bam fall in love with Khaiping

## loop in loop

#### กำหนดให้วนลูปในตัวเอง โดยมีความรู้สึกต่อตนเอง

In [27]:
for name1 in honey:
    for name2 in honey:
        print_feeling(name1,'fall in love with',name2)

Ha Yoonbin fall in love with Ha Yoonbin
Ha Yoonbin fall in love with Park Chaeyoung
Ha Yoonbin fall in love with Do Kyungsoo
Ha Yoonbin fall in love with Lee Sungyeol
Ha Yoonbin fall in love with Kim Taehyung
Ha Yoonbin fall in love with Kim Sunggyu
Ha Yoonbin fall in love with Khaiping
Park Chaeyoung fall in love with Ha Yoonbin
Park Chaeyoung fall in love with Park Chaeyoung
Park Chaeyoung fall in love with Do Kyungsoo
Park Chaeyoung fall in love with Lee Sungyeol
Park Chaeyoung fall in love with Kim Taehyung
Park Chaeyoung fall in love with Kim Sunggyu
Park Chaeyoung fall in love with Khaiping
Do Kyungsoo fall in love with Ha Yoonbin
Do Kyungsoo fall in love with Park Chaeyoung
Do Kyungsoo fall in love with Do Kyungsoo
Do Kyungsoo fall in love with Lee Sungyeol
Do Kyungsoo fall in love with Kim Taehyung
Do Kyungsoo fall in love with Kim Sunggyu
Do Kyungsoo fall in love with Khaiping
Lee Sungyeol fall in love with Ha Yoonbin
Lee Sungyeol fall in love with Park Chaeyoung
Lee Sungyeol fall in love with Do Kyungsoo
Lee Sungyeol fall in love with Lee Sungyeol
Lee Sungyeol fall in love with Kim Taehyung
Lee Sungyeol fall in love with Kim Sunggyu
Lee Sungyeol fall in love with Khaiping
Kim Taehyung fall in love with Ha Yoonbin
Kim Taehyung fall in love with Park Chaeyoung
Kim Taehyung fall in love with Do Kyungsoo
Kim Taehyung fall in love with Lee Sungyeol
Kim Taehyung fall in love with Kim Taehyung
Kim Taehyung fall in love with Kim Sunggyu
Kim Taehyung fall in love with Khaiping
Kim Sunggyu fall in love with Ha Yoonbin
Kim Sunggyu fall in love with Park Chaeyoung
Kim Sunggyu fall in love with Do Kyungsoo
Kim Sunggyu fall in love with Lee Sungyeol
Kim Sunggyu fall in love with Kim Taehyung
Kim Sunggyu fall in love with Kim Sunggyu
Kim Sunggyu fall in love with Khaiping
Khaiping fall in love with Ha Yoonbin
Khaiping fall in love with Park Chaeyoung
Khaiping fall in love with Do Kyungsoo
Khaiping fall in love with Lee Sungyeol
Khaiping fall in love with Kim Taehyung
Khaiping fall in love with Kim Sunggyu
Khaiping fall in love with Khaiping

## loop in function

In [28]:
def print_feelings(I, feeling, honeys):             #print_feelings การเติม s คือการวนลูปอยู่ข้างใน
    for f in honeys:
        print(f'{I} {feeling} {f}')              #ตรง for f สามารถเปลี่ยนชื่อได้ เช่น จาก f เป็น friend โดยใน {f} ต้องถูกเปลี่ยนตามด้วย

In [33]:
print_feelings('Bam','fall in love with', honey)

Bam fall in love with Ha Yoonbin
Bam fall in love with Park Chaeyoung
Bam fall in love with Do Kyungsoo
Bam fall in love with Lee Sungyeol
Bam fall in love with Kim Taehyung
Bam fall in love with Kim Sunggyu
Bam fall in love with Khaiping

## Looping in Dict

In [74]:
name_grade = {'พันทิพา' : 'B', 'ศุภนิตา' : 'C', 'ปนัดดา' : 'A', 'ทรงกรด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกรด': 'F'}

In [75]:
name_grade['ปนัดดา']

'A'

In [77]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกรด'])

In [78]:
for i in name_grade.keys():
    print(f' {i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกรด ได้เกรด F

## Conditional

```Python
if condition1:
    do something
elif condition2:
    do another thing
else:
    do ...
```

#### ไม่มีการแสดงความรู้สึกต่อตนเอง

In [35]:
for my_name in honey:
    for honey_name in honey:
        if my_name != honey_name:
            print_feeling(my_name, 'fall in love with', honey_name)

Ha Yoonbin fall in love with Park Chaeyoung
Ha Yoonbin fall in love with Do Kyungsoo
Ha Yoonbin fall in love with Lee Sungyeol
Ha Yoonbin fall in love with Kim Taehyung
Ha Yoonbin fall in love with Kim Sunggyu
Ha Yoonbin fall in love with Khaiping
Park Chaeyoung fall in love with Ha Yoonbin
Park Chaeyoung fall in love with Do Kyungsoo
Park Chaeyoung fall in love with Lee Sungyeol
Park Chaeyoung fall in love with Kim Taehyung
Park Chaeyoung fall in love with Kim Sunggyu
Park Chaeyoung fall in love with Khaiping
Do Kyungsoo fall in love with Ha Yoonbin
Do Kyungsoo fall in love with Park Chaeyoung
Do Kyungsoo fall in love with Lee Sungyeol
Do Kyungsoo fall in love with Kim Taehyung
Do Kyungsoo fall in love with Kim Sunggyu
Do Kyungsoo fall in love with Khaiping
Lee Sungyeol fall in love with Ha Yoonbin
Lee Sungyeol fall in love with Park Chaeyoung
Lee Sungyeol fall in love with Do Kyungsoo
Lee Sungyeol fall in love with Kim Taehyung
Lee Sungyeol fall in love with Kim Sunggyu
Lee Sungyeol fall in love with Khaiping
Kim Taehyung fall in love with Ha Yoonbin
Kim Taehyung fall in love with Park Chaeyoung
Kim Taehyung fall in love with Do Kyungsoo
Kim Taehyung fall in love with Lee Sungyeol
Kim Taehyung fall in love with Kim Sunggyu
Kim Taehyung fall in love with Khaiping
Kim Sunggyu fall in love with Ha Yoonbin
Kim Sunggyu fall in love with Park Chaeyoung
Kim Sunggyu fall in love with Do Kyungsoo
Kim Sunggyu fall in love with Lee Sungyeol
Kim Sunggyu fall in love with Kim Taehyung
Kim Sunggyu fall in love with Khaiping
Khaiping fall in love with Ha Yoonbin
Khaiping fall in love with Park Chaeyoung
Khaiping fall in love with Do Kyungsoo
Khaiping fall in love with Lee Sungyeol
Khaiping fall in love with Kim Taehyung
Khaiping fall in love with Kim Sunggyu

In [83]:
if True :
    print('Yes')              #หากข้างหลังเป็นจริงจะทำการ print ข้างในของ if

Yes

In [84]:
if False :
    print('No')          #แต่ถ้าหากข้างหลังเป็นเท็จ ข้างในของ if ไม่ถูกทำงาน หรือข้างหลังเป็นอะไรก็แล้วแต่ที่เป็นเท็จมันก็จะเด้งออก

#### หากหลัง if เป็น True จะทำข้างใน if  แต่ถ้าหากข้างหลัง if เป็น False มันก็จะเด้งออกไป โดยเมื่อเด้งออกไปแล้วและถ้าหากมี else(นอกจากนั้น) มาดักอยู่มันก็จะไปทำการเช็คใน else และค่อย print ออกมา

In [85]:
if False :
    print('Yes')
else:
    print('No')

No

# เครื่องหมายที่ใช้ในการเขียน Conditional

### True กับ False แบบไม่ชัด

In [86]:
1 == 1

True

In [87]:
if 1 == 1:
    print('1=1')

1=1

### == เช็คว่าตัวข้างหน้าเท่ากับตัวข้างหลังหรือไม่ โดยเท่ากันจะตอบ True
### != เช็คว่าตัวข้างหน้าไม่เท่ากับตัวข้างหลังหรือไม่ โดยไม่เท่ากันจะตอบ True
### >= เช็คว่าตัวข้างหน้ามากกว่าตัวข้างหลังหรือไม่
### <= เช็คว่าตัวข้างหน้าน้อยกว่าตัวข้างหลังหรือไม่
### < , > ใช้ในการเช็คว่าผ่าน Conditional หรือไม่

# Homework2
### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) output เป็นเกรด(F-A)
### input = [1, 50, 65, 90, 101, -5, 49]

In [75]:
def pgrade(score_c):
    if score_c >= 80:
        print('score', score_c, '= A')
    elif score_c >= 75 and score_c <= 79:
        print('score', score_c, '= B+')
    elif score_c >= 70 and score_c <= 74:
        print('score', score_c, '= B')
    elif score_c >= 65 and score_c <= 69:
        print('score', score_c, '= C+')
    elif score_c >= 60 and score_c <= 64:
        print('score', score_c, '= C')
    elif score_c >= 55 and score_c <= 59:
        print('score', score_c, 'i= D+')
    elif score_c >= 50 and score_c <= 54:
        print('score', score_c, '= D')
    elif score_c <= 49:
        print('score', score_c, '= F')

In [76]:
score_gd = [1, 50, 65, 90, 101, -5, 49]
for i in score_gd :
    pgrade(i)

score 1 = F
score 50 = D
score 65 = C+
score 90 = A
score 101 = A
score -5 = F
score 49 = F